/*Toolbar*/
.toolTitleBox {
    padding: 5px 10px;
    background-color: rgb(74,170,165);
    margin-right: auto;
}

.navbar-custom-md {
    background-color: white;
}

.navbar-custom-sm {
    background-color: rgb(74,170,165);
}

.subBurgerItem {
        margin-left: 15px;
}

.dropdown-submenu {
    position: relative;
}

.black-item {
    color: black;
  }

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*homePage*/
.homePageMd {
    background-color: rgb(209, 209, 209);
    padding: 10px 8%;
}

.homePageSm {
    background-color: white;
    padding: 10px 8%;
}

.homePane {
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    float: left;
}

/*dataPage*/
.dataPageMd {
    background-color: rgb(209, 209, 209);
    padding: 10px 8%;
}

#dataPane {
    background-color: white;
    margin: 20px auto;
    padding: 15px;
}

h3 {
    color: rgb(74,170,165);
    font-family: "Times New Roman", Times, serif;
}

h4 {
    text-align: center;
    color: rgb(74,170,165);
    font-family: "Times New Roman", Times, serif;
}

.select-image {
    border: 2px solid rgb(74,170,165);
}

